{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/password-change" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name= "curr_password" placeholder="Current Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="new_password" placeholder="New Password" type="password">
            <input class="form-control mx-auto w-auto" id="password" name="confirmation" placeholder="Retype New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change</button>
    </form>
{% endblock %}
