{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto show" id="password" name="password" placeholder="Password" type="password">
            <input class="form-control mx-auto w-auto show" id="password1" name="confirmation" placeholder="Retype Password" type="password">
        </div>
        <div>
            <input type="checkbox" id = "checkbox"> Show Passwords
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
