{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name = symbol placeholder = "Symbol">
                {% for symbol in symbols %}
                    <option value = "{{symbol.stock_symbol}}">{{symbol.stock_symbol}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" min = "1" placeholder="Number Of Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
